.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.panel {
  border: 1px solid #f8f8f8;
  border-radius: 200px;

  overflow: hidden;
  color: rgb(177, 174, 174);
}

.panel_2 {
  border: 1px solid #f8f8f8;
  border-radius: 200px;
  overflow: hidden;
  color: rgb(177, 174, 174);
}

.panel-header {
  background-color: #2b2828;
  padding: 10px 15px;

}

.panel-body {
  padding-top: 12px;
  padding-right: 120px;
  padding-bottom: 12px;
  padding-left: 12px;
  background-color: #2b2828;
}

.horizontal {
  display:flex;
}