
.my-background {
  background-color: #49dc35c2; /* Задает свойство "background-color" с цветом #f2f2f2 */
}

.menu-hotizontal {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Выравнивание по горизонтали по центру */
}

.menu-horizontal__menu-wrapper{
  display: flex;
  flex-direction: row;
}

.menuitem{
  padding: 20px 30px
}

.menu-horizontal-logo{
  text-align:left;
  padding: 20px 90px
  
}

.team-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 column grid with equal width */
  gap: 10px; /* Gap between grid items */
  padding: 10px;
  width: 1000px; /* Задайте нужную ширину контейнера */
  margin: 0 auto; /* Выравнивание по горизонтали */
}

.team-member {
  position: relative;
  width: 100%;
  height: 200px; /* Adjust the height to fit your needs */
  background-color: #f2f2f2;
  border-radius: 5px;
  overflow: hidden;
}

.team-member img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-member-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
}
.project-image {
  flex: 1;
  width: 300px;
  height: auto;
  border-radius: 5px;
}
.idea{

}

.test_map{

}

.analogues{

}
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto; /* Выравнивание по горизонтали */
  justify-content: center; /* Выравнивание по горизонтали по центру */

}

.team-info {
  flex: 1;
  padding-right: 20px;
}

.team-image {
  width: 40%;
  height: auto;
}

.map {
  height: '80';
  width: '80';
};

.logo {
  width: 10px; /* Задайте желаемую ширину */
  height: 10px; /* Высота будет автоматически подстраиваться под ширину */
}