

.menu-hotizontal{
  display: flex;
  flex-direction: row;
}

.menu-horizontal__menu-wrapper{
  display: flex;
  flex-direction: row;
}

.menuitem{
  padding: 20px 30px
}

.menu-horizontal-logo{
  text-align:left;
  padding: 20px 90px
  
}